@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import "../../scss/index.scss";

.container-crud{
   // background-color: aqua !important;
   .titulo-crud {
    //width: 100%;
    margin-bottom: 10px;
    /*neon effect*/
    p {
      font-size: 1.5em;
      margin: 0px 0 0px 0;
    }
    a {
      text-decoration: none;
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      transition: all 0.5s;
    }
  
    p:nth-child(1) a {
      font-size: 1.5em;
      color: $tercero-color !important;
      font-family: 'Abril Fatface', cursive;
    }
    p:nth-child(1) a:hover {
      -webkit-animation: neon2 1.5s ease-in-out infinite alternate;
      -moz-animation: neon2 1.5s ease-in-out infinite alternate;
      animation: neon2 1.5s ease-in-out infinite alternate;
    }
  
    p a:hover {
      color: #ffffff;
    }
  
    @-webkit-keyframes neon2 {
      from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px $tercero-color,
          0 0 70px $tercero-color, 0 0 80px $tercero-color, 0 0 100px $tercero-color, 0 0 150px $tercero-color;
      }
      to {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px $tercero-color,
          0 0 35px $tercero-color, 0 0 40px $tercero-color, 0 0 50px $tercero-color, 0 0 75px $tercero-color;
      }
    }
  
    /*glow for mozilla-keyframes*/
  
    @-moz-keyframes neon2 {
      from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px $tercero-color,
          0 0 70px $tercero-color, 0 0 80px $tercero-color, 0 0 100px $tercero-color, 0 0 150px $tercero-color;
      }
      to {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px $tercero-color,
          0 0 35px $tercero-color, 0 0 40px $tercero-color, 0 0 50px $tercero-color, 0 0 75px $tercero-color;
      }
    }
  
    /*glow*/
    @keyframes neon2 {
      from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px $tercero-color,
          0 0 70px $tercero-color, 0 0 80px $tercero-color, 0 0 100px $tercero-color, 0 0 150px $tercero-color;
      }
      to {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px $tercero-color,
          0 0 35px $tercero-color, 0 0 40px $tercero-color, 0 0 50px $tercero-color, 0 0 75px $tercero-color;
      }
    }
  }
  
  .lightSpeedIn {
    margin: 0px !important;
    padding: 0px !important;
    
    -webkit-animation-name: lightSpeedIn;
    animation-name: lightSpeedIn;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  
  
  }
  
  @keyframes lightSpeedIn {
    0% {
      -webkit-transform: translate3d(35%, 0, 0) skewX(-30deg);
      transform: translate3d(35%, 0, 0) skewX(-30deg);
      opacity: 0;
    }
    60% {
      -webkit-transform: skewX(20deg);
      transform: skewX(20deg);
      opacity: 1;
    }
    80% {
      -webkit-transform: skewX(-5deg);
      transform: skewX(-5deg);
      opacity: 1;
    }
    100% {
      -webkit-transform: none;
      transform: none;
      opacity: 1;
    }
  } 
}