.contenedor {
    align-items: flex-start;
    padding: 20%;

    
}

.ant-form {
    //background-color: rgb(0, 0, 0) !important;
    label{
        color: whitesmoke;
    }
    
         
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn  {
    color: azure !important;
}